<div class="container">
  <form [formGroup]="addCostForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="category">Категория</label>
      <select class="form-control"
              id="category"
              formControlName="categoryId"
              value=""
              required>
        <option value="1">Продукты</option>
        <option value="2">Вода</option>
        <option value="3">Развлечения</option>
        <option value="4">Одежда</option>
        <option value="5">Транспорт</option>
        <option value="6">Кредиты</option>
      </select>
    </div>
    <div class="form-group">
      <label for="value">Сумма</label>
      <input type="number"
             class="form-control"
             id="value"
             placeholder="Сумма"
             formControlName="value"
             value=""
             required="">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="note">Примечания</label>
      <textarea class="form-control"
                id="note"
                placeholder=""
                formControlName="description"
                value=""
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="width: 100%">Сохранить</button>
  </form>

  <div class="row p-3">
    <div class="col-12 px-0 py-3 border-bottom border-primary" *ngFor="let e of costs">
      <span class="remove" (click)="remove(e.id)">Удалить</span>
      Категория: {{e.category.name}} <br/>
      Сумма: {{e.value}} грн<br/>
      Дата: {{e.createdAt | date:'dd.MM.yyyy hh:mm'}} <br/>
    </div>
  </div>
</div>
